@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mettre ici les styles "globaux" */

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #161616;
  color: white;
  /*cursor: none;*/
}

/*.cursor {
  width: 40px;
  height: 40px;
  border: 1px dashed white;
  border-radius: 50%;
  position: absolute;
  animation: Anim1 1s infinite alternate;
}

.cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: crimson;
  border-radius: 50%;
}

.expand {
  animation: Anim2 0.5s;
  background: crimson;
  border: 1px solid crimson;
}

@keyframes Anim1 {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(0.7) rotate(90deg);
  }
}

@keyframes Anim2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}*/

.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  /* you can control opacity of noise  */
  opacity: 0.05;
  z-index: 1000;
  pointer-events: none;
  background: url(../src/assets/noise_effect.gif);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

/*h1 {
  font-family: "Barracuda";
  font-size: 150px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: line-through 0.5px white;
}
h1 {
  font-family: "Gravitas One";
}
*/

.TT {
  /*font-size: 5rem;*/
  font-family: iceberg;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-family: gravitasOne;
  text-transform: uppercase;
  text-decoration: underline;
}
